.inputSelected {
  height:           100%;
  background-color: #404040;
  padding:          20px;
  .container {
    max-width: 1440px;
    padding:   0 20px;
  }
  .wrapper {
    form {
      position: relative;
      &:hover {
        .list1 {
          display: block !important;
        }
      }
    }
    .input {
      height:                46px;
      max-width:             315px;
      width:                 100%;
      background-color:      #565656;
      border:                1px solid #868686;
      border-radius:         4px;
      color:                 rgba(#fff, .5);
      font-size:             18px;
      -webkit-appearance:    none;
      -moz-appearance:       none;
      background-image:      url('../../../img/search.svg');
      background-repeat:     no-repeat;
      background-position-x: 3%;
      background-position-y: 50%;
      padding:               0 10px 0 40px;
      overflow:              hidden;
      text-overflow:         ellipsis;
      margin-bottom:         20px;
    }
    .itemBlocks {
      display:     flex;
      flex-wrap:   wrap;
      align-items: center;
    }
    .itemBlock {
      border:           1px solid #fff;
      border-radius:    6px;
      margin:           0 15px 10px 0;
      display:          flex;
      align-items:      center;
      background-color: #565656;
      div {
        padding:      8px;
        border-right: 1px solid #fff;
        span {
          color: #fff;
          &:first-of-type {
            color: #22b302;
          }
        }
      }
      .close {
        padding:    0 15px 5px 15px;
        color:      gray;
        cursor:     pointer;
        font-size:  20px;
        transition: .2s linear;
        &:hover {
          color: #fff;
        }
      }
    }
    .verticalLine {
      display:     none;
      height:      40px;
      width:       0;
      border-left: 1px solid #fff;
      margin:      0 15px 10px 0;
      &.active {
        display: block !important;
      }
    }
    .btnClearFilters {
      display: none;
      &.active {
        display:          block !important;
        border:           1px solid #fff;
        border-radius:    6px;
        padding:          8px;
        color:            #fff;
        margin:           0 15px 10px 0;
        cursor:           pointer;
        background-color: #404040;
        transition:       .2s linear;
        &:hover {
          background-color: #565656;
        }
      }
    }
    .list1, .list2 {
      max-width:        315px;
      width:            100%;
      background-color: #565656;
      padding:          0;
      position:         absolute;
      top:              46px;
      left:             0;
      z-index:          10;
      * {
        color: #fff;
      }
      div {
        display:         flex;
        justify-content: start;
        align-items:     center;
      }
      li {
        padding:       10px;
        list-style:    none;
        border:        1px solid #868686;
        border-radius: 4px;
        h2 {
          padding-left: 10px;
        }
        span {
          font-size: 20px;
          &:first-of-type {
            padding: 0 5px 0 50px;
          }
        }
        .description {
          font-size: 16px;
        }
      }
    }
    .list1 {
      display: none;
      li {
        &:not(li:first-of-type) {
          cursor: pointer;
          &:hover {
            background-color: #747474;
          }
        }
        .title {
          color: #22b302;
        }
      }
    }
    .list2 {

      li {
        &:first-of-type {
          background-color: #747474;
        }
        &:not(li:first-of-type, li:nth-of-type(2)) {
          cursor: pointer;
          &:hover {
            background-color: #747474;
          }
        }
        .title {
          color: #22b302;
        }
      }
    }
  }
}