.list2 {
  li {
    &:first-of-type {
      background-color: #747474;
    }
    &:not(li:first-of-type, li:nth-of-type(2)) {
      cursor: pointer;
      &:hover {
        background-color: #747474;
      }
    }
    .title {
      color: #22b302;
    }
  }
}